<div class="char-ability-title">Legacies</div>
<table class="char-ability-list">
  <tr>
    <td><b>Bonds</b></td>
    <td><IronswornProgress @max={{22}} @ticks={{char.ironsworn.bonds}}/></td>
  </tr>
  <tr>
    <td><b>Quests</b></td>
    <td><IronswornProgress @max={{22}} @ticks={{char.ironsworn.quests}}/></td>
  </tr>
  <tr>
    <td><b>Discoveries</b></td>
    <td><IronswornProgress @max={{22}} @ticks={{char.ironsworn.discoveries}}/></td>
  </tr>
</table>
