<div class="char-ability-title">Status</div>
<table class="char-ability-list">
  <tr>
    <td><b>Momentum</b></td>
    <td>{{char.ironsworn.momentum}}</td>
    <td><b>Health</b></td>
    <td><Fs3Dots @max={{5}} @rating={{char.ironsworn.health}} /></td>
  </tr>
  <tr>
    <td><b>Spirit</b></td>
    <td><Fs3Dots @max={{5}} @rating={{char.ironsworn.spirit}} /></td>
    <td><b>Supply</b></td>
    <td><Fs3Dots @max={{5}} @rating={{char.ironsworn.supply}} /></td>
  </tr>
</table>
