<li><a href="#" {{action (mut selectSkillRoll) true}}>Add Ability Roll</a></li>

<IronswornRoll @scene={{scene}} @destinationType="scene" @abilities={{abilities}} @selectSkillRoll={{selectSkillRoll}} />
